<aside class="sidebar">
  <ul class="sidebar-nav">
    <li>
      <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Dashboard</a>
    </li>
    <li>
      <a routerLink="/organizations" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Organizações</a>
    </li>
    <li>
      <a routerLink="/collaborators" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Colaboradores</a>
    </li>
    <li>
      <a routerLink="/devices" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Dispositivos</a>
    </li>
  </ul>
</aside>
